@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Product List</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PictureStr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discontinued)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsInStock)
                </td>
                <td>
                    <img width="100" src="data:image;base64, @item.PictureStr" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discontinued)
                </td>
                <td>
                    <a href="/product/edit/@item.Id" class="btn btn-warning">
                        <i class="fa fa-edit"></i>Edit
                    </a>
                    <a href="/product/delete/@item.Id" class="btn btn-danger">
                        <i class="fa fa-trash"></i>Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
