@model IEnumerable<MyOnlineShop.Admin.Models.CategoryViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (@ViewBag.parentname == "")
{
    <h1>Category List</h1>
}
else
{
    <h1>"@ViewBag.parentname" Sub Categories </h1>
}

<a href="/category/create/@ViewBag.parentid" class="btn btn-success"> <i class="fa"></i>Add Category</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img width="100" src="data:image;base64, @item.PictureStr" />
                </td>
                <td>
                    @if (@ViewBag.parentname != "")
                    {
                        <a href="/category/list/@item.GrandParentId" class="btn btn-success">
                            <i class="fa fa-edit"></i>Parent Categories
                        </a>
                    }
                    <a href="/category/list/@item.Id" class="btn btn-primary">
                        <i class="fa fa-edit"></i>Sub Categories
                    </a>
                    <a href="/category/edit/@item.Id" class="btn btn-warning">
                        <i class="fa fa-edit"></i>Edit
                    </a>
                    <a href="/category/delete/@item.Id" class="btn btn-danger">
                        <i class="fa fa-trash"></i>Delete
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>
